#home-container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        flex: 63px 0;
        width: 100%;
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.04);

        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        button {
            width: 158px;
            height: 40px;

            margin-right: 11px;
            background: #F46161;
            border: 0;
            border-radius: 5px;
            color: white;
            font-size: 13px;
            font-family: 'Roboto', sans-serif;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
            }
        }

        button:hover {
            filter: brightness(0.93);
        }
    }

    main {
        flex: 1;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        font-family: 'Roboto', sans-serif;

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 15px;
        }
    }
}