#container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

    header#nav {  
        width: 100%;
        height: 63px;
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.2);

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        
        nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            div#user-information {
                height: 32px;
                margin-left: 16px;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                img {
                    width: 32px;
                    height: 32px;

                    border-radius: 50%;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;


                    span#user-name {
                        font-size: 13px;
                    }
    
                    span#user-email {
                        font-size: 11px;
                        color: #6B6B6B;
                    }
                }
            }
        
            button {
                width: 32px;
                height: 32px;
                margin-right: 16px;

                display: flex;
                align-items: center;
                justify-content: center;

                background: #ffff;
                border: 0;
                border-radius: 50%;

                cursor: pointer;

                &:hover {
                    filter: brightness(0.9);
                }
            }
        }
    }

    main#no-notepads {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > h1 {
            font-size: 40px;
            margin: 0 10px 5px 10px;
            text-align: center;
        }

        p {
            font-size: 15px;
            margin: 0 10px 0 10px;
            text-align: center;
        }
    }

    main#notepads {
        flex: 1;
        padding: 10px;

        display: grid;
        grid-template-columns: repeat(auto-fill, 235px);
        grid-auto-rows: min-content;
        justify-content: space-between;
        gap: 15px;

        @media only screen and (max-width: 534px) {
            grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
        }
    }

    .modal div#content {
        display: flex;
        flex-direction: column;

        header#modal-header {
            height: clamp(42px, 90%, 52px);
            padding: 5px 10px;
            
            color: white;
            background: #8C8627;
            border-radius: 5px 5px 0px 0px;
        
            display: flex;
            align-items: center;
        }

        form {

            margin: 10px;
            height: 100%;

            display: flex;
            flex-direction: column;

            div#colors-buttons-container {
                flex-grow: 0;

                span {
                    font-weight: bold;
                }

                div {
                    display: flex;
                    flex-direction: row;
                }

                div .colors-button {
                    width: 30px;
                    height: 30px;

                    border-radius: 50%;
                    margin-top: 2px;
                    margin-right: 13px;

                    border: none;

                    cursor: pointer;

                    &:nth-child(1) {
                        background: #592723;
                    }

                    
                    &:nth-child(2) {
                        background: #BF6849;
                    }

                    
                    &:nth-child(3) {
                        background: #D9923B;
                    }

                    
                    &:nth-child(4) {
                        background: #8C8627;
                    }

                    &:hover {
                        filter: brightness(0.8);
                    }
                }
            }
            
            div#text-input-container {
                flex-grow: 0;

                display: flex;
                flex-direction: column;
                margin-top: 10px;

                span {
                    font-weight: bold;
                    margin-bottom: 2px;
                }

                input {
                    height: 24px;
                    border: 1px solid black;
                    border-radius: 3px;
                    padding-left: 5px;
                }
            }

            div#text-area-container {
                flex-grow: 1;

                display: flex;
                flex-direction: column;
                margin-top: 10px;

                span {
                    font-weight: bold;
                    margin-bottom: 2px;
                }

                textarea {
                    resize: none;
                    overflow: unset;
                    padding: 5px;
                    border: 1px solid black;
                    border-radius: 3px;

                    height: 100%;
                }
            }
            
            div#text-buttons-container {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 10px;
                height: 32px;
                gap: 10px;
                
                button {
                    margin-right: 0px;
                    height: 100%;
                    width: 100px;
                    background: none;
                    cursor: pointer;

                    &:nth-child(1) {
                        border: 1px solid black;
                        border-radius: 5px;
                    }

                    &:nth-child(2) {
                        color: white;
                        background: #592723;
                        border-radius: 5px;
                    }

                    &:hover {
                        filter: brightness(0.9);
                    }
                }
            }
        }
    }
}
